.header__lang-link {
  text-decoration-line: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 117%;
  font-weight: normal;
  margin-right: 18px;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  .header__lang-link {
     font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
     font-size: 18px;
     line-height: 111%;
  }
}