.places {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  width: 76.8%;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    row-gap: 73px;
    width: 93.7%;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    row-gap: 50px;
    margin-top: 64px;
    width: 100%;
  }
}