.intro {
  display: flex;
  flex-direction: column;
  width: 77%;
  margin: 92px auto 92px auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 91%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.7%;
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 90%;
    margin-top: 64px;
    margin-bottom: 64px;
}