.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-self: center;
  margin: 0;
  padding: 0 48px 24px 48px;
}

@media screen and (max-width: 1023px) {
  .footer {
     padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
     padding-left: 16px;
     flex-direction: column;
  }
}