.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-self: center;
  margin-top: 0;
  padding: 0 48px 24px 48px;
  width: 92.5%;
}

@media screen and (max-width: 1024px) {
  .footer {
     width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
     width: 93.7%;
     padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
     margin-left: 16px;
     flex-wrap: wrap; 
  }
}