.place__two-paragraphs {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 320px) {
  .place__two-paragraphs {
    padding: 0;
    max-width: 288px;
    margin: 0 auto;
  }
}
