.place__two-paragraphs {
  min-width: 288px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 767px) {
  .place__two-paragraphs {
    gap: 25px;
    padding: 0 16px;
  }
}
